<div class="row">
    <div class="col-xs-10">
        <app-shopping-list-edit 
            (addIngredient)="onAddingredient($event)"
            (deleteIngredient)="onDeleteIngredient($event)"
            (clearIngredients)="onClearIngredients()"
            [ingredientClicked]="ingredientElementClicked"
            >
        </app-shopping-list-edit>
        <hr>
        <ul class="list-group">
            <a *ngFor="let ingedient of ingredients"
             class="list-group-item" 
             style="cursor: pointer;"
             (click)="onIngredientClick(ingedient)"
             >
             {{ingedient.name}} ({{ingedient.amount}})</a>
        </ul>
    </div>