<div class="container">
    <div class="row">
        <div class="col-xl-8">
            <h3>{{accountData.name}}</h3>
            <hr>
            <p>This account is {{accountData.status}}</p>
            <button type="button" (click)="onChangeStatus('active')">Set to 'active'</button>
            <button type="button" (click)="onChangeStatus('inactive')">Set to 'inactive'</button>
            <button type="button" (click)="onChangeStatus('unknown')">Set to 'unknown'</button>
        </div>
    </div>
</div>